node_modules/

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Ignore everything inside public/temp...
public/temp/*

# ...EXCEPT the .gitkeep file (so the folder structure stays)
!public/temp/.gitkeep

uploads/

.DS_Store
Thumbs.db

.vscode/
.idea/